body {
    /* your other stuff */
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: lightblue;
    
}

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tata {
    max-width: 20rem;
        margin: 1rem;
        background-color: white;
        padding: 1rem;
        text-align: center;
        color: hsl(228, 45%, 44%);
        border-radius: 10px;
}

.tata img {
    width: 100%;
}

.text {
    background-color: aliceblue;
    
    text-align: center;
    color: hsl(228, 45%, 44%);
}
